<html lang="pt-BR">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/blue-circle.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>feiki website</title>
	</head>
    <body class="font-serif text-base p-5">
        <h1 class="text-4xl font-bold ">TABLE OF CONTENT</h1>
        <h2 class="text-2xl font-bold ">1. Chemistry</h2>
        <pre>
		<a href="https://www.w3schools.com" class="hover:text-blue-400 visited:text-purple-800 underline" target="_blank">Google.com</a>
		<a href="https://feiki.netlify.app/shrek" class="text-blue-500 visited:text-blue-600 underline visited:undeline" target="_blank">Roteiro do Shrek</a>
		</pre>
	</body>
</html>