---
import MainHead from "../layouts/MainHead.astro"
---

<MainHead title="Astro">
	<div class="h-screen flex items-center justify-center p-10 lg:p-20">
		<div class="text-xxxs lg:text-xxs lg:m-8">
			<pre class="font-mono leading-snug text-black hover:text-zinc-400">                                           
                            .@@@@@@@@@@@* &                     #%&#((%@&&.     
                     .@@@@@@@@&@@@@@@@@@@@@@@,                 ,&(       /&%    
                     &@@@@@@@@@@@@@@@@@@@@@@@@@&                .%%/    .%%#    
                  .@@@@@@@@@@@@@@@@@@@@@@*@@*@@@,@@&#*.            %%###/.      
                .@@@@@@@@@@@@@@@@@@@@@@@%&@@#%@.@@@@@@@@@@@@@&/   #&&           
               @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*@@@@@@@@@@@@@@@@@@@@@            
             (@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@//@@@@@@@@@@@@@@@@@@@@          
            @@@@@@@@@@@@@(@@@@@@@@@@@@@@@@@@@@@@@@@@/        ..,&%/,,**,        
           @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@,            &%#              
          @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%            /###*              
         &@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@             /##/               
        /@@&%%%%%&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@(            ,#%#####(           
      .@@@@@@@@@@@@@@@@@@@@@&(,,(@@@@@@@@@@@@@@&           .#####/*#            
   .@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@&@@@&/*(&@@@@*                               
  &@@@@@@@@@@@#@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%*                              
 &@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*                         
.@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@&                       
,@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@(                     
 @@@@@@@@@@@@@@@@@@@&@@@@&@@@@@@@@@@@@@@@@@@&@@@@@@@@@@@@@@@                    
 %@@@@@@@@@@@@@@@@@@@@@@@@%%@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@                   
  @@@@@@@@@@@@@@@@@@@@@@@@@@@.@@@@@@@@%@@@@@@@@@@@@@@@@@@@@@@@.                 
  /@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@#@@@@@&@@@.                
  %%@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@&@@@@@&                
  @(@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%@@@@@@@@@@@@@%               
  @@/@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%@@@@@@@@@@@@@(              
  @@@.@@@@@@@@@@&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@.             
  @@@./@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@&@@@@@@@@@@@%@@@@@@@@&             
  @@@.@&%@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@#*            
  @@@.@@@.&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@#@@&@@@@@@@@@@*@            
  @@@.@@@,,&(/&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*@@@           
  @@@.@@@,@((&@@&*#@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*@@@@/          
  @@@.@@@*@@@ @@@@@@@&.#%@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*@@@@@@          
  @@. @@@*@@@,,%@@@@@@@@@@@//%@@@@@@@@@@@@@@@@@@@@@@@@@&@@@@@@*@@@@@@@%         
      @@@*@@@,@%,@@@@@@@@@@@@@@@&*/@@@@@@@@@@@@@@@@@@@@@@@@@@/@@@@@@@@@,        
      @/ ,@@@*@@@ &@@@@@@@@@@@@@@@@@@@&,(@@@@@@@@%@@@@@@@@@%&@@@@@@@@@@&        
         ,@@@*@@&##*@@@@@@@@@&%@@@@@@@@@@@@@&//&@@@&@@@@@@*@@@@@@@@@@@@@.       
         ,@@@*@@&#@@ @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@#,%@@@/@@@@@@@@@@@@@*@.      
         ,@@**@@&#@@##.&@@@@@@@@@@@@@@@@@@@&@@@@&@@@@&@@@@@@@@@@@@@@&,%@@#      
         *,  *@@&%@@##@/(/@@@@@@@@@@@@@@@@@&@@@@@@@@@@@@@@@@@@@@/*&/@@/@@@      
             *@@##@@%#@@#*@/@*,%@@@@@@@@@@@@@@@@@@@@@@@@%,.#@@@@(@@,@##@@@/     
             /(  %@@ %@/ ##&@@@@@@@/@%(&@,@@@@@@*&@@@&@@@@@@@@@@%%@%@%&#@@@     
                 #   .       @@@@@(@%(@@@@@*@@@@@@##@@@@@@@@@@@@@(@@/@@/@@@,    
                              *@@@@%@@##@&@@@*@@@@@@@.@@@@@@@@@@@*@@,@@(@@@%    
                             #@&(@@@@@@@%#@@@@@*@@@@@@@%/@@@@@@@@*@@/@@&%@@@    
                            /@@@  &@@@@@@@%#&@@&@(&@@@@@@@%,@@@@@*@@@%@@/@@@/   
                           #@@@&    @@@@@@@@%#@@@@@&(@@@@@@@@@%**/@@@/&@/@@@%   
                  #@@@@@@@@@@#@@#@@@@*@@@@@@@@&/%&@@&@*@@@@@@@@@@@@@@*@@%&&@@   
                                        @@@@@@@@@,@@&%@@&(@@@@@@@@@@@*@@@(@@@*  
                                          @@@@@@@@@*&/%#@@@((@@@@@@@@/@&@*@@@%  
                                           ,@@@@@@@@@#%#@@&@@@%/@@@@@/@@@/@@@@  
                                             *@@%,@@@@@@,@@@@@(&@@@,,(@@@%@@@@, 
                                             ,/ @@@@@@@@@@/%&%@@@@@@@@@@@@%@@@( 
                                                 .@@@@@@@@@@@,@@#@@@&@@&@@(@@@% 
                                                   /@@@@@@@@@@@@*@@@@@@@@@*@@@@ 
                                                     .%@@@@@@@@@@@@(/@@@@@(@@@@.
                                                   *   .*@@@@@@@@@@@@@@@@@@%@@@*
                                                     ,    *@@@@@@@@@@@@@@@@@@@@(
                                                           ( (@@@@@@(@@@@@@@@@@%
                                                                &@@@@@@@@@@@@@@@
                                                                  .&@@@@@@@@@@@@
                                                                     ((@@@@@@@@@
                                                                          /&@@@&
		</pre>
		</div>
		<p class="text-right text-xs sm:text-sm lg:text-lg">
			You are tired,<br/>
			(I think)<br/>
			Of the always puzzle of living and doing;<br/>
			And so am I.<br/>
			<br/>
			Come with me, then,<br/>
			And we’ll leave it far and far away —<br/>
			(Only you and I, understand!)<br/>
		</p>
	</div>
	<p class="px-5 font-semibold lg:text-2xl">escritos</p>
	<div class="relative overflow-x-auto mb-20">
		<table class="table-fixed w-11/12 text-xs left-text mx-auto text-left m-2">
			<thead class="bg-zinc-700 lg:text-base">
				<tr class="dark:border-t-gray-500 border-t">
					<th scope="col" class="px-3 py-2">
						TÍTULO
					</th>
					<th scope="col" class="px-3 py-2">
						TAGS
					</th>
					<th scope="col" class="px-3 py-2">
						DATA
					</th>
				</tr>
			</thead>
			<tbody class="bg-zinc-900 lg:text-base">
				<tr class="dark:border-gray-500 border-y">
					<td scope="row" class="px-3 py-2 text-gray-500 whitespace-pre-line dark:text-zinc-400">
						<a href="/gilgamesh" class="hover:text-white">gilgamesh</a>
					</td>
					<td scope="row" class="px-3 py-2 text-gray-500 dark:text-white">
						livro
					</td>
					<td scope="row" class="px-3 py-2 text-gray-500 dark:text-white">
						12-06-2024
					</td>
				</tr>
				<tr class="dark:border-gray-500 border-y">
					<td scope="row" class="px-3 py-2 text-gray-500 whitespace-pre-line dark:text-zinc-400">
						<a href="/dataengineering" class="hover:text-white">engenharia de dados</a>
					</td>
					<td scope="row" class="px-3 py-2 text-gray-500 dark:text-white">
						estudo
					</td>
					<td scope="row" class="px-3 py-2 text-gray-500 dark:text-white">
						30-07-2024
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</MainHead>