---
import MainHead from "../layouts/MainHead.astro"

import Navigation from "../components/Navigation.astro"
---

<MainHead title="Astro">
    <Navigation/>
    <div class="flex justify-center">
        <h1 class="font-bold text-4xl py-2 sm:text-6xl lg:pt-10 lg:text-8xl">
			LINKS
		</h1>
    </div>

    <hr class="h-px mb-3 mx-auto max-w-64 lg:max-w-96 bg-gray-200 border-0 dark:bg-gray-200">
	
	<div class="mx-auto sm:max-w-sm md:max-w-0 lg:max-w-md mb-10">
		<a href="https://p3dm.ru/files/characters/human/13018-leon-kennedy-agent.html" target="_blank">
			<img src="/src/images/leon_kennedy_re4uhd_realmoonlight.png" >
		</a>
	</div>
	
	<div class="mx-auto text-left">
		<h2 class="px-10 font-semibold text-lg py-1 sm:text-2xl lg:pt-10 lg:mx-80 lg:text-4xl">
			webdevelopment
		</h2>
	</div>
	<hr class="h-px mb-3 mx-auto mx-6 bg-gray-200 border-0 lg:mx-80 dark:bg-gray-200">


	<div class="flex p-5">
		<ul class="text-xs space-y-3 list-disc list-inside sm:text-sm lg:text-xl lg:mx-96">
			<li>
				<a href="https://dribbble.com/search/shots/popular/web-design?q=landing-page" class="italic hover:text-zinc-300" target="_blank">Dribble</a>: designs de inspiração.
			</li>
			<li>
				<a href="https://stacksorted.com/" class="italic hover:text-zinc-300" target="_blank">StackSorted</a>: exemplos de componentes.
			</li>
			<li>
				<a href="https://feathericons.com/" class="italic hover:text-zinc-300" target="_blank">FeatherIcons</a>: ícones open source em svg.
			</li>
		</ul>
	</div>

	<div class="mx-auto text-left">
		<h2 class="px-10 font-semibold text-lg py-1 sm:text-2xl lg:pt-10 lg:mx-80 lg:text-4xl">
			miscelaneous
		</h2>
	</div>
	<hr class="h-px mb-3 mx-auto mx-6 bg-gray-200 border-0 lg:mx-80 dark:bg-gray-200">


	<div class="flex p-5">
		<ul class="text-xs list-disc list-inside space-y-3 sm:text-sm lg:text-xl lg:mx-96">
			<li>
				<a href="https://idreesinc.com/monocraft.html" class="italic hover:text-zinc-300" target="_blank">Fonte de Minecraft</a>.
			</li>
			<li>
				<a href="https://www.animatedknots.com/" class="italic hover:text-zinc-300" target="_blank">Como amarrar nó</a>.
			</li>
		</ul>
	</div>
</MainHead>