---
---

<div class="">
    <div class="text-xxs m-8">
			<pre class="font-mono leading-snug">                                           
                            .@@@@@@@@@@@* &                     #%&#((%@&&.     
                     .@@@@@@@@&@@@@@@@@@@@@@@,                 ,&(       /&%    
                     &@@@@@@@@@@@@@@@@@@@@@@@@@&                .%%/    .%%#    
                  .@@@@@@@@@@@@@@@@@@@@@@*@@*@@@,@@&#*.            %%###/.      
                .@@@@@@@@@@@@@@@@@@@@@@@%&@@#%@.@@@@@@@@@@@@@&/   #&&           
               @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*@@@@@@@@@@@@@@@@@@@@@            
             (@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@//@@@@@@@@@@@@@@@@@@@@          
            @@@@@@@@@@@@@(@@@@@@@@@@@@@@@@@@@@@@@@@@/        ..,&%/,,**,        
           @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@,            &%#              
          @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%            /###*              
         &@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@             /##/               
        /@@&%%%%%&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@(            ,#%#####(           
      .@@@@@@@@@@@@@@@@@@@@@&(,,(@@@@@@@@@@@@@@&           .#####/*#            
   .@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@&@@@&/*(&@@@@*                               
  &@@@@@@@@@@@#@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%*                              
 &@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*                         
.@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@&                       
,@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@(                     
 @@@@@@@@@@@@@@@@@@@&@@@@&@@@@@@@@@@@@@@@@@@&@@@@@@@@@@@@@@@                    
 %@@@@@@@@@@@@@@@@@@@@@@@@%%@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@                   
  @@@@@@@@@@@@@@@@@@@@@@@@@@@.@@@@@@@@%@@@@@@@@@@@@@@@@@@@@@@@.                 
  /@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@#@@@@@&@@@.                
  %%@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@&@@@@@&                
  @(@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%@@@@@@@@@@@@@%               
  @@/@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@%@@@@@@@@@@@@@(              
  @@@.@@@@@@@@@@&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@.             
  @@@./@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@&@@@@@@@@@@@%@@@@@@@@&             
  @@@.@&%@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@#*            
  @@@.@@@.&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@#@@&@@@@@@@@@@*@            
  @@@.@@@,,&(/&@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*@@@           
  @@@.@@@,@((&@@&*#@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*@@@@/          
  @@@.@@@*@@@ @@@@@@@&.#%@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@*@@@@@@          
  @@. @@@*@@@,,%@@@@@@@@@@@//%@@@@@@@@@@@@@@@@@@@@@@@@@&@@@@@@*@@@@@@@%         
      @@@*@@@,@%,@@@@@@@@@@@@@@@&*/@@@@@@@@@@@@@@@@@@@@@@@@@@/@@@@@@@@@,        
      @/ ,@@@*@@@ &@@@@@@@@@@@@@@@@@@@&,(@@@@@@@@%@@@@@@@@@%&@@@@@@@@@@&        
         ,@@@*@@&##*@@@@@@@@@&%@@@@@@@@@@@@@&//&@@@&@@@@@@*@@@@@@@@@@@@@.       
         ,@@@*@@&#@@ @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@#,%@@@/@@@@@@@@@@@@@*@.      
         ,@@**@@&#@@##.&@@@@@@@@@@@@@@@@@@@&@@@@&@@@@&@@@@@@@@@@@@@@&,%@@#      
         *,  *@@&%@@##@/(/@@@@@@@@@@@@@@@@@&@@@@@@@@@@@@@@@@@@@@/*&/@@/@@@      
             *@@##@@%#@@#*@/@*,%@@@@@@@@@@@@@@@@@@@@@@@@%,.#@@@@(@@,@##@@@/     
             /(  %@@ %@/ ##&@@@@@@@/@%(&@,@@@@@@*&@@@&@@@@@@@@@@%%@%@%&#@@@     
                 #   .       @@@@@(@%(@@@@@*@@@@@@##@@@@@@@@@@@@@(@@/@@/@@@,    
                              *@@@@%@@##@&@@@*@@@@@@@.@@@@@@@@@@@*@@,@@(@@@%    
                             #@&(@@@@@@@%#@@@@@*@@@@@@@%/@@@@@@@@*@@/@@&%@@@    
                            /@@@  &@@@@@@@%#&@@&@(&@@@@@@@%,@@@@@*@@@%@@/@@@/   
                           #@@@&    @@@@@@@@%#@@@@@&(@@@@@@@@@%**/@@@/&@/@@@%   
                  #@@@@@@@@@@#@@#@@@@*@@@@@@@@&/%&@@&@*@@@@@@@@@@@@@@*@@%&&@@   
                                        @@@@@@@@@,@@&%@@&(@@@@@@@@@@@*@@@(@@@*  
                                          @@@@@@@@@*&/%#@@@((@@@@@@@@/@&@*@@@%  
                                           ,@@@@@@@@@#%#@@&@@@%/@@@@@/@@@/@@@@  
                                             *@@%,@@@@@@,@@@@@(&@@@,,(@@@%@@@@, 
                                             ,/ @@@@@@@@@@/%&%@@@@@@@@@@@@%@@@( 
                                                 .@@@@@@@@@@@,@@#@@@&@@&@@(@@@% 
                                                   /@@@@@@@@@@@@*@@@@@@@@@*@@@@ 
                                                     .%@@@@@@@@@@@@(/@@@@@(@@@@.
                                                   *   .*@@@@@@@@@@@@@@@@@@%@@@*
                                                     ,    *@@@@@@@@@@@@@@@@@@@@(
                                                           ( (@@@@@@(@@@@@@@@@@%
                                                                &@@@@@@@@@@@@@@@
                                                                  .&@@@@@@@@@@@@
                                                                     ((@@@@@@@@@
                                                                          /&@@@&
    </pre>
	</div>
</div>