---
---
<div class="text-sm italic w-full text-center pt-4 pb-2 sm:text-base lg:text-lg">
    <a href="/" class="separator">início</a>
    <a href="/sobre/" class="separator">sobre</a>
    <a href="/links/" class="separator">links</a>
</div>

<style>
    @tailwind base;
        .separator:before {
            content: "|";
            margin: 0 0.5rem;
            color: black;
        }
        .separator:first-child:before {
            content: "";
            margin: 0;
        }

@media (prefers-color-scheme: dark) {
        .separator:before {
            content: "|";
            margin: 0 0.5rem;
            color: white;
        }
        .separator:first-child:before {
            content: "";
            margin: 0;
        }
    }
</style>