---
---

<div class="text-sm italic w-full text-center pt-4 pb-2 sm:text-base lg:text-lg">
    <a href="/" class="separator">início</a>
    <a href="/sobre/" class="separator">sobre</a>
    <a href="/patreon/" class="separator">patreon</a>
</div>

<style>
        .separator:before {
            content: "|";
            margin: 0 0.5rem;
            color: #FFFFFF; /* Cor da barra vertical */
        }
        .separator:first-child:before {
            content: "";
            margin: 0;
        }
    </style>